<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="kelkoofeed" xsi:type="object">Datacom\CuraNatura\Console\Command\KelkooFeedCommand</item>
				<item name="syncnewsletteraccount" xsi:type="object">Datacom\CuraNatura\Console\Command\SyncNewsletterAccount</item>
				<item name="aligninventory" xsi:type="object">Datacom\CuraNatura\Console\Command\AlignInventoryCommand</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Sales\Block\Adminhtml\Order\View">
		<plugin name="addCustomerReorderButton" type="Datacom\CuraNatura\Plugin\Block\Adminhtml\Order\View"/>
	</type>
	<type name="Magento\Shipping\Model\Shipping">
        <plugin disabled="false" name="disableShippingMethod" sortOrder="10" type="Datacom\CuraNatura\Plugin\Model\HandleShippingMethods"/>
    </type>
</config>