/*
	Foglio di stile personalizzato
*/
.box-tocart .actions img {
	display: none !important;
}

body .fullwidth-block.fullwidth-banner.green-filled.fullwidth-block .fullwidth-inner {
    background-image: url('/media/wysiwyg/green-filler.jpg');
    background-repeat: repeat;
    background-size: 1px 1px;
}

body.cms-index-index .fullwidth-block.subscribe-block .fullwidth-inner {
	padding: 174px 0;
    background-image: url('/media/wysiwyg/cura-e-natura-newsletter.jpg');
}

body .products-grid .product-item-info .price-box .special-price .price-container .price,
body .products-list .product-item-info .price-box .special-price .price-container .price {
	color: rgba(0, 0, 0, 0.8);
}

body .products-grid .product-item-info .image-wrapper .add-to-links a.action.towishlist:hover,
body .products-list .product-item-info .image-wrapper .add-to-links a.action.towishlist:hover,
body .products-grid .product-item-info .image-wrapper .add-to-links a.action.towishlist:active,
body .products-list .product-item-info .image-wrapper .add-to-links a.action.towishlist:active,
body .products-grid .product-item-info .image-wrapper .add-to-links a.action.towishlist:focus,
body .products-list .product-item-info .image-wrapper .add-to-links a.action.towishlist:focus {
	color: #f99b16;
}

body .product-action-wrapper .btn.btn-default.btn-cart:hover,
.action.primary.checkout:hover {
	background-color: #222222;
	border-color: #222222;
}

body .product-items.large-product .product-action-wrapper .btn.btn-default.btn-cart:not(:hover),
body .mobile-action-buttons .btn.btn-default.btn-cart:not(:hover),
body #layered-filter-block-current .filter-actions .btn.btn-default.filter-clear:not(:hover),
body .block.block-customer-login .form.form-login .action.login.primary:not(:hover),
body .block.block-new-customer .actions-toolbar .action.create.primary:not(:hover),
body .action.reload.captcha-reload:not(:hover),
body .actions-toolbar button.action.primary:not(:hover) {
	background-color: #69860e;
	border-color: #69860e;
}

body .product-items.large-product .product-action-wrapper .btn.btn-default.btn-cart:hover,
body .mobile-action-buttons .btn.btn-default.btn-cart:hover,
body #layered-filter-block-current .filter-actions .btn.btn-default.filter-clear:hover,
body .block.block-customer-login .form.form-login .action.login.primary:hover,
body .block.block-new-customer .actions-toolbar .action.create.primary:hover,
body .action.reload.captcha-reload:hover,
body .actions-toolbar button.action.primary:hover {
	background-color: #ce7504;
	border-color: #ce7504;
}

body .block.block-customer-login .form.form-login .action.login.primary,
body .block.block-new-customer .actions-toolbar .action.create.primary,
body .actions-toolbar button.action.primary:not(:hover),
body .actions-toolbar button.action.primary:hover {
	color: #fff;
}

body.wide-layout .category-top-banner .fullwidth-inner,
body.wide-layout .product-top-banner.fullwidth-block .fullwidth-inner {
	background: #69860e !important;
}

body .category-newsletter .block.newsletter {
	width: 100%;
}

body .category-newsletter .block.newsletter .field.newsletter .input-wrapper {
	width: calc(100% - 50px);
	float: left;
}

body .category-newsletter .block.newsletter .field.newsletter .input-wrapper + .action.subscribe.btn.btn-default {
	border-radius: 0 25px 25px 0;
	background-color: rgba(0,0,0,0.04);
	color: rgba(0,0,0,0.8);
	width: 50px;
	height: 50px;
	border: none;
	font-size: 24px;
	line-height: 50px;
	padding: 0;
	margin-left: 0;
}

body .category-newsletter .block.newsletter .field.newsletter .input-wrapper + .action.subscribe.btn.btn-default:hover {
	background-color: rgba(0,0,0,0.14);
}

body .category-newsletter .block.newsletter .field.newsletter .input-wrapper + .action.subscribe.btn.btn-default > span {
	display: none;
}

body .sorter-options {
	width: 145px;
}

body .product-info-main .price-box .price-container .price {
	color: #68860c;
	font-weight: 600;
}

body.catalog-product-view .free-shipping-info {
	color: #68860c;
	font-weight: 500;
}

body.catalog-product-view .product.attribute.overview {
	margin-top: 30px;
}

body.catalog-product-view .product.attribute.overview > .block-title {
	display: none;
}

body.catalog-product-view .product.attribute.overview > .block-title + .value {
	color: #000;
	font-size: 16px;
}

body.catalog-product-view .product.attribute.description .value {
	color: #000;
	text-align: justify;
}

body.catalog-product-view .product-info-main .page-title > span {
	font-weight: 400;
	font-size: 32px;
}

body .products-grid .product-item-info .image-wrapper .product-labels span {
	background-color: #f99b16;
}

body.checkout-cart-index #block-shipping {
	display: none;
}

body.catalog-product-view .product-add-form .btn.btn-primary.btn-cart:not(:hover),
body.checkout-index-index #checkout .action.action-auth-toggle:not(:hover),
body .block.block-customer-login .actions-toolbar .action.action-login.secondary:not(:hover),
body #notice-cookie-block #btn-cookie-allow:not(:hover),
body #shipping-method-buttons-container .button.action.continue.primary:not(:hover),
body #contact-form .action.reload.captcha-reload:not(:hover) {
	background-color: #ce7504;
	border-color: #ce7504;
}

body.checkout-cart-index .action.continue.btn.btn-default:not(:hover),
body .action.primary.checkout:not(:hover),
body .actions-hover-buttons .btn.btn-default.btn-cart:not(:hover) {
	background-color: #69860e !important;
	border-color: #69860e !important;
}

body.checkout-cart-index .action.continue.btn.btn-default:hover,
body .action.primary.checkout:hover,
body .actions-hover-buttons .btn.btn-default.btn-cart:hover {
	background-color: #ce7504 !important;
	border-color: #ce7504 !important;
}

body .cart-container .cart-summary .totals-wrapper,
body .page-header .minicart-wrapper .block-minicart .actions:not(.product)>.primary,
body .page-header .minicart-wrapper .block-minicart .subtotal,
body.checkout-index-index .checkout-container .opc-sidebar .opc-block-summary {
	background-color: rgba(247,247,247,0.1);
}

/*
body .cart-container .cart-summary .totals-wrapper,
body .page-header .minicart-wrapper .block-minicart .actions:not(.product)>.primary,
body .page-header .minicart-wrapper .block-minicart .subtotal,
body.checkout-index-index .checkout-container .opc-sidebar .opc-block-summary {
	background-color: rgba(206,223,152,0.1);
}
*/

body #notice-cookie-block {
	background-color: transparent;
}
	
body #notice-cookie-block .content {
	background-color: rgba(0, 0, 0, 0.85);
	margin: auto;
	padding: 15px;
}

body #notice-cookie-block .content p {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

body.checkout-cart-index .cart-summary .table-wrapper + .checkout-loading {
	display: none;
}

body.checkout-index-index,
body.wide-layout.checkout-index-index .page-header {
	background-color: #fff;
}

body.checkout-index-index .page-title-wrapper {
	text-align: left;
	padding: 0 30px;
}

body.checkout-cart-index .cart-summary .checkout-loading {
	text-align: center;
	font-style: italic;
	margin: 0 0 10px 0;
}

body.checkout-cart-index .cart-summary .checkout-loading img {
	display: inline;
	margin-right: 10px;
	width: 20px;
	vertical-align: middle;
}

body.checkout-cart-index .cart-summary .checkout-loading img + span {
	vertical-align: middle;
}

#layered-filter-block-current > #am-shopby-container + .block-actions.filter-actions,
.sidebar.sidebar-main .block-content.filter-content > .filter-current.am-filter-current + script + .block-actions.filter-actions {
	display: none;
}

/*#nav .level0.nav-1.category-item.parent .level1.nav-1-12.category-item,
#nav .level0.nav-2.category-item.parent .level1.nav-2-24.category-item,
#nav .level0.nav-3.category-item.parent .level1.nav-3-15.category-item,
#nav .level0.nav-3.category-item.parent .level1.nav-3-16.category-item,
#nav .level0.nav-5.category-item.parent .level1.nav-5-31.category-item,
#nav .level0.nav-5.category-item.parent .level1.nav-5-32.category-item,
#mobile_store_menu .level0.nav-1.category-item.parent .level1.nav-1-12.category-item,
#mobile_store_menu .level0.nav-2.category-item.parent .level1.nav-2-24.category-item,
#mobile_store_menu .level0.nav-3.category-item.parent .level1.nav-3-15.category-item,
#mobile_store_menu .level0.nav-3.category-item.parent .level1.nav-3-16.category-item,
#mobile_store_menu .level0.nav-5.category-item.parent .level1.nav-5-31.category-item,
#mobile_store_menu .level0.nav-5.category-item.parent .level1.nav-5-32.category-item {
	display: none;
}*/

#header_links_wrapper .item.link.compare {
	display: none;
}

.sidebar.sidebar-additional .block.block-compare {
	display: none;
}

body .products-grid .product-items.row .product-item-info .image-wrapper .product-labels > span,
body .products-list .product-items.row .product-item-info .image-wrapper .product-labels > span {
	padding: 8px 10px;
	font-size: 18px;
	height: 46px;
}

body #maincontent .category-description {
	text-align: justify;
}

.cart.main.actions .action.clear.btn-primary {
	display: none;
}

.product.attribute.overview .value .read-more-link {
	display: none;
}

#block-customer-login-heading,
#block-new-customer-heading {
	text-transform: uppercase;
}

#shopping-cart-table thead .col > span {
	font-weight: 600;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
}

body.checkout-index-index input[type="text"],
body.checkout-index-index input[type="password"],
body.checkout-index-index input[type="url"],
body.checkout-index-index input[type="tel"],
body.checkout-index-index input[type="search"],
body.checkout-index-index input[type="number"],
body.checkout-index-index input[type="datetime"],
body.checkout-index-index input[type="email"] {
	height: 35px;
	line-height: 30px;
	padding-left: 10px;
}

.products.list.items.product-items.row .item.product.product-item {
	margin-bottom: 50px;
}

.amsearch-wrapper-input > input:nth-child(2) {
	display: none;
}

.page-header .block-search .block-content input {
	background-color: rgba(240,240,240,1) !important;
}

.toolbar-products .pages {
	display: block;
}

.level0.submenu.full-width li {
	width: 100% !important;
}

#amasty-xsearch-loader {
	top: 0;
	height: 100%;
	background-position: center;
}

.amsearch-overlay + .fotorama--fullscreen {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999999999 !important;
}

.amsearch-overlay + .fotorama--fullscreen .fotorama__fullscreen-icon {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-position: -100px -20px;
}

.free-shipping-wrapper > img {
	float: left;
	vertical-align: top;
	margin-top: -15px;
	margin-left: 20px;
	margin-right: -20px;
}

.free-shipping-wrapper > p {
	float: left;
}

@media only screen and (min-width: 768px) {
	body .additional-attributes-wrapper.table-wrapper .data.table.additional-attributes .col.label {
		width: 250px;
	}

	body .header-wrapper .navbar-default .navbar-collapse.collapse li.level-top .megamenu-wrapper {
		padding: 20px;
	}

	#checkout.checkout-container .authentication-wrapper .authentication-dropdown {
		top: 0;
	}

	body .opc-sidebar {
		margin-top: 0;
	}

	body.checkout-index-index .checkout-container .opc-sidebar .opc-block-summary {
		padding-top: 0;
	}

	.login-remainder-checkout {
		display: block;
	}

	.login-remainder-checkout > span {
		font-size: 16px;
	}

	body .page-wrapper .breadcrumbs {
		margin-bottom: 25px;
	}

	.block.block-content .amsearch-form-container.-opened .amsearch-wrapper-input {
		position: relative;
		max-width: none;
		width: 100% !important;
	}

	.box-tocart .actions .free-shipping-info {

	}
}

.page-wrapper > .header-wrapper {
	z-index: 9999999999;
}

/*Nascondo temporaneamente i testi sui banner*/
footer.page-footer .fullwidth-block.fullwidth-banner.green-filled .fullwidth-inner .container,
header.page-header .fullwidth-block.category-top-banner .fullwidth-inner .container .row,
header.page-header .fullwidth-block.product-top-banner .fullwidth-inner .container {
	display: none;
}

@media (max-width: 767px) {
	.field.search > .label.active {
		display: none;
	}

	.block-search .search .control {
		border-top: 0;
	}

	#amasty-xsearch-loader {
		margin-right: 30px;
	}

	body .page-header .minicart-wrapper .block-minicart {
		z-index: 9999;
	}
}

@media only screen and (max-width: 991px) {
	.page-header.header-1 .menu-wrapper,
	.page-header.header-1 .block-search {
		display: block;
	}
}

@media only screen and (min-width: 992px) {
	.home-products-grid .products-grid .product-items.row .product-item-info .btn,
	.home-products-grid .products-list .product-items.row .product-item-info .btn {
		padding-left: 48px;
		padding-right: 48px;
	}

	.login-remainder-checkout {
		margin-right: 15px;
		display: inline;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1007px) {
	body .nav-toggle {
		top: 21px;
		right: 262px;
		left: auto;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.col-xs-12.col-lg-2.custom-fix-bootstrap {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 1024px) {
	.checkout-index-index .modals-wrapper .modal-popup .modal-inner-wrap {
		width: 800px;
	}
}

@media (min-width: 1007px) and (max-width: 1199px) {
	.logo-wrapper .action.nav-toggle {
		display: inline-block;
		top: 21px;
		right: 262px;
		left: auto;
	}
}

@media only screen and (min-width: 1200px) {
	#opc-shipping_method .checkout-shipping-method {
		padding-left: 30px;
	}
}

@media only screen and (min-width: 1008px) and (max-width: 1301px) {
	.header-wrapper .navbar-default .navbar-collapse.collapse li.level-top a.level-top > span:last-child {
		font-size: 14px;
	}
}

@media only screen and (min-width: 1302px) {
	.header-wrapper .navbar-default .navbar-collapse.collapse li.level-top a.level-top > span:last-child {
		font-size: 16px;
	}
}